build/ALL_BUILD.vcxproj
build/ALL_BUILD.vcxproj.filters
build/cmake_install.cmake
build/CMakeCache.txt
build/sparkfun_ism330dhcx_interface.sln
build/sparkfun_ism330dhcx.vcxproj
build/sparkfun_ism330dhcx.vcxproj.filters
build/test_ch341.vcxproj
build/test_ch341.vcxproj.filters
build/test_dll_functions.vcxproj
build/test_dll_functions.vcxproj.filters
build/ZERO_CHECK.vcxproj
build/ZERO_CHECK.vcxproj.filters
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/generate.stamp
build/CMakeFiles/generate.stamp.depend
build/CMakeFiles/generate.stamp.list
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/230b3a955aea98db2e5f0094de06a0c6/generate.stamp.rule
build/CMakeFiles/3.31.2/CMakeCCompiler.cmake
build/CMakeFiles/3.31.2/CMakeCXXCompiler.cmake
build/CMakeFiles/3.31.2/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.31.2/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.31.2/CMakeRCCompiler.cmake
build/CMakeFiles/3.31.2/CMakeSystem.cmake
build/CMakeFiles/3.31.2/VCTargetsPath.txt
build/CMakeFiles/3.31.2/VCTargetsPath.vcxproj
build/CMakeFiles/3.31.2/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.31.2/CompilerIdC/CompilerIdC.exe
build/CMakeFiles/3.31.2/CompilerIdC/CompilerIdC.vcxproj
build/CMakeFiles/3.31.2/CompilerIdC/Debug/CMakeCCompilerId.obj
build/CMakeFiles/3.31.2/CompilerIdC/Debug/CompilerIdC.exe.recipe
build/CMakeFiles/3.31.2/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
build/CMakeFiles/3.31.2/CompilerIdC/Debug/CompilerIdC.tlog/Cl.items.tlog
build/CMakeFiles/3.31.2/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
build/CMakeFiles/3.31.2/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
build/CMakeFiles/3.31.2/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
build/CMakeFiles/3.31.2/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
build/CMakeFiles/3.31.2/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
build/CMakeFiles/3.31.2/CompilerIdC/Debug/CompilerIdC.tlog/link.secondary.1.tlog
build/CMakeFiles/3.31.2/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
build/CMakeFiles/3.31.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.31.2/CompilerIdCXX/CompilerIdCXX.exe
build/CMakeFiles/3.31.2/CompilerIdCXX/CompilerIdCXX.vcxproj
build/CMakeFiles/3.31.2/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
build/CMakeFiles/3.31.2/CompilerIdCXX/Debug/CompilerIdCXX.exe.recipe
build/CMakeFiles/3.31.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
build/CMakeFiles/3.31.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/Cl.items.tlog
build/CMakeFiles/3.31.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
build/CMakeFiles/3.31.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
build/CMakeFiles/3.31.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
build/CMakeFiles/3.31.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
build/CMakeFiles/3.31.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
build/CMakeFiles/3.31.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.secondary.1.tlog
build/CMakeFiles/3.31.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
build/CMakeFiles/3.31.2/VCTargetsPath/x64/Debug/VCTargetsPath.recipe
build/CMakeFiles/3.31.2/VCTargetsPath/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
build/Debug/CH341DLLA64.dll
build/Debug/test_ch341.exe
build/Debug/test_ch341.pdb
build/Debug/test_dll_functions.exe
build/Debug/test_dll_functions.pdb
build/sparkfun_ism330dhcx.dir/Debug/ch341_wrapper.obj
build/sparkfun_ism330dhcx.dir/Debug/sfe_bus.obj
build/sparkfun_ism330dhcx.dir/Debug/sfe_ism_shim.obj
build/sparkfun_ism330dhcx.dir/Debug/sfe_ism330dhcx.obj
build/sparkfun_ism330dhcx.dir/Debug/vc143.pdb
build/sparkfun_ism330dhcx.dir/Debug/sparkfun.F9C7A6B6.tlog/CL.command.1.tlog
build/sparkfun_ism330dhcx.dir/Debug/sparkfun.F9C7A6B6.tlog/CL.read.1.tlog
build/sparkfun_ism330dhcx.dir/Debug/sparkfun.F9C7A6B6.tlog/CL.write.1.tlog
build/sparkfun_ism330dhcx.dir/Debug/sparkfun.F9C7A6B6.tlog/CustomBuild.command.1.tlog
build/sparkfun_ism330dhcx.dir/Debug/sparkfun.F9C7A6B6.tlog/CustomBuild.read.1.tlog
build/sparkfun_ism330dhcx.dir/Debug/sparkfun.F9C7A6B6.tlog/CustomBuild.write.1.tlog
build/sparkfun_ism330dhcx.dir/Debug/sparkfun.F9C7A6B6.tlog/sparkfun_ism330dhcx.lastbuildstate
build/sparkfun_ism330dhcx.dir/Debug/sparkfun.F9C7A6B6.tlog/unsuccessfulbuild
build/test_ch341.dir/Debug/ch341_wrapper.obj
build/test_ch341.dir/Debug/test_ch341.exe.recipe
build/test_ch341.dir/Debug/test_ch341.ilk
build/test_ch341.dir/Debug/test_ch341.obj
build/test_ch341.dir/Debug/vc143.pdb
build/test_ch341.dir/Debug/test_ch341.tlog/CL.command.1.tlog
build/test_ch341.dir/Debug/test_ch341.tlog/Cl.items.tlog
build/test_ch341.dir/Debug/test_ch341.tlog/CL.read.1.tlog
build/test_ch341.dir/Debug/test_ch341.tlog/CL.write.1.tlog
build/test_ch341.dir/Debug/test_ch341.tlog/CustomBuild.command.1.tlog
build/test_ch341.dir/Debug/test_ch341.tlog/CustomBuild.read.1.tlog
build/test_ch341.dir/Debug/test_ch341.tlog/CustomBuild.write.1.tlog
build/test_ch341.dir/Debug/test_ch341.tlog/link.command.1.tlog
build/test_ch341.dir/Debug/test_ch341.tlog/link.read.1.tlog
build/test_ch341.dir/Debug/test_ch341.tlog/link.secondary.1.tlog
build/test_ch341.dir/Debug/test_ch341.tlog/link.write.1.tlog
build/test_ch341.dir/Debug/test_ch341.tlog/test_ch341.lastbuildstate
build/test_dll_functions.dir/Debug/test_dll_functions.exe.recipe
build/test_dll_functions.dir/Debug/test_dll_functions.ilk
build/test_dll_functions.dir/Debug/test_dll_functions.obj
build/test_dll_functions.dir/Debug/vc143.pdb
build/test_dll_functions.dir/Debug/test_dll.E021F75B.tlog/CL.command.1.tlog
build/test_dll_functions.dir/Debug/test_dll.E021F75B.tlog/Cl.items.tlog
build/test_dll_functions.dir/Debug/test_dll.E021F75B.tlog/CL.read.1.tlog
build/test_dll_functions.dir/Debug/test_dll.E021F75B.tlog/CL.write.1.tlog
build/test_dll_functions.dir/Debug/test_dll.E021F75B.tlog/CustomBuild.command.1.tlog
build/test_dll_functions.dir/Debug/test_dll.E021F75B.tlog/CustomBuild.read.1.tlog
build/test_dll_functions.dir/Debug/test_dll.E021F75B.tlog/CustomBuild.write.1.tlog
build/test_dll_functions.dir/Debug/test_dll.E021F75B.tlog/link.command.1.tlog
build/test_dll_functions.dir/Debug/test_dll.E021F75B.tlog/link.read.1.tlog
build/test_dll_functions.dir/Debug/test_dll.E021F75B.tlog/link.secondary.1.tlog
build/test_dll_functions.dir/Debug/test_dll.E021F75B.tlog/link.write.1.tlog
build/test_dll_functions.dir/Debug/test_dll.E021F75B.tlog/test_dll_functions.lastbuildstate
build/tests/cmake_install.cmake
build/tests/test_ch341.vcxproj
build/tests/test_ch341.vcxproj.filters
build/tests/test_dll_functions.vcxproj
build/tests/test_dll_functions.vcxproj.filters
build/tests/test_simple_unified.vcxproj
build/tests/test_simple_unified.vcxproj.filters
build/tests/test_unified_api.vcxproj
build/tests/test_unified_api.vcxproj.filters
build/tests/CMakeFiles/generate.stamp
build/tests/CMakeFiles/generate.stamp.depend
build/tests/Debug/CH341DLLA64.dll
build/tests/Debug/test_ch341.exe
build/tests/Debug/test_ch341.pdb
build/tests/Debug/test_dll_functions.exe
build/tests/Debug/test_dll_functions.pdb
build/tests/Debug/test_simple_unified.exe
build/tests/Debug/test_simple_unified.pdb
build/tests/Debug/test_unified_api.exe
build/tests/Debug/test_unified_api.pdb
build/tests/test_ch341.dir/Debug/ch341_wrapper.obj
build/tests/test_ch341.dir/Debug/ism330dhcx_reg.obj
build/tests/test_ch341.dir/Debug/sfe_bus.obj
build/tests/test_ch341.dir/Debug/sfe_ism_shim.obj
build/tests/test_ch341.dir/Debug/sfe_ism330dhcx.obj
build/tests/test_ch341.dir/Debug/test_ch341.exe.recipe
build/tests/test_ch341.dir/Debug/test_ch341.ilk
build/tests/test_ch341.dir/Debug/test_ch341.obj
build/tests/test_ch341.dir/Debug/vc143.pdb
build/tests/test_ch341.dir/Debug/test_ch341.tlog/CL.command.1.tlog
build/tests/test_ch341.dir/Debug/test_ch341.tlog/Cl.items.tlog
build/tests/test_ch341.dir/Debug/test_ch341.tlog/CL.read.1.tlog
build/tests/test_ch341.dir/Debug/test_ch341.tlog/CL.write.1.tlog
build/tests/test_ch341.dir/Debug/test_ch341.tlog/CustomBuild.command.1.tlog
build/tests/test_ch341.dir/Debug/test_ch341.tlog/CustomBuild.read.1.tlog
build/tests/test_ch341.dir/Debug/test_ch341.tlog/CustomBuild.write.1.tlog
build/tests/test_ch341.dir/Debug/test_ch341.tlog/link.command.1.tlog
build/tests/test_ch341.dir/Debug/test_ch341.tlog/link.read.1.tlog
build/tests/test_ch341.dir/Debug/test_ch341.tlog/link.secondary.1.tlog
build/tests/test_ch341.dir/Debug/test_ch341.tlog/link.write.1.tlog
build/tests/test_ch341.dir/Debug/test_ch341.tlog/test_ch341.lastbuildstate
build/tests/test_dll_functions.dir/Debug/test_dll_functions.exe.recipe
build/tests/test_dll_functions.dir/Debug/test_dll_functions.ilk
build/tests/test_dll_functions.dir/Debug/test_dll_functions.obj
build/tests/test_dll_functions.dir/Debug/vc143.pdb
build/tests/test_dll_functions.dir/Debug/test_dll.E021F75B.tlog/CL.command.1.tlog
build/tests/test_dll_functions.dir/Debug/test_dll.E021F75B.tlog/Cl.items.tlog
build/tests/test_dll_functions.dir/Debug/test_dll.E021F75B.tlog/CL.read.1.tlog
build/tests/test_dll_functions.dir/Debug/test_dll.E021F75B.tlog/CL.write.1.tlog
build/tests/test_dll_functions.dir/Debug/test_dll.E021F75B.tlog/CustomBuild.command.1.tlog
build/tests/test_dll_functions.dir/Debug/test_dll.E021F75B.tlog/CustomBuild.read.1.tlog
build/tests/test_dll_functions.dir/Debug/test_dll.E021F75B.tlog/CustomBuild.write.1.tlog
build/tests/test_dll_functions.dir/Debug/test_dll.E021F75B.tlog/link.command.1.tlog
build/tests/test_dll_functions.dir/Debug/test_dll.E021F75B.tlog/link.read.1.tlog
build/tests/test_dll_functions.dir/Debug/test_dll.E021F75B.tlog/link.secondary.1.tlog
build/tests/test_dll_functions.dir/Debug/test_dll.E021F75B.tlog/link.write.1.tlog
build/tests/test_dll_functions.dir/Debug/test_dll.E021F75B.tlog/test_dll_functions.lastbuildstate
build/tests/test_simple_unified.dir/Debug/ch341_wrapper.obj
build/tests/test_simple_unified.dir/Debug/ism330dhcx_reg.obj
build/tests/test_simple_unified.dir/Debug/sfe_bus.obj
build/tests/test_simple_unified.dir/Debug/sfe_ism_shim.obj
build/tests/test_simple_unified.dir/Debug/sfe_ism330dhcx.obj
build/tests/test_simple_unified.dir/Debug/test_simple_unified.exe.recipe
build/tests/test_simple_unified.dir/Debug/test_simple_unified.ilk
build/tests/test_simple_unified.dir/Debug/test_simple_unified.obj
build/tests/test_simple_unified.dir/Debug/vc143.pdb
build/tests/test_simple_unified.dir/Debug/test_sim.3A006558.tlog/CL.command.1.tlog
build/tests/test_simple_unified.dir/Debug/test_sim.3A006558.tlog/Cl.items.tlog
build/tests/test_simple_unified.dir/Debug/test_sim.3A006558.tlog/CL.read.1.tlog
build/tests/test_simple_unified.dir/Debug/test_sim.3A006558.tlog/CL.write.1.tlog
build/tests/test_simple_unified.dir/Debug/test_sim.3A006558.tlog/CustomBuild.command.1.tlog
build/tests/test_simple_unified.dir/Debug/test_sim.3A006558.tlog/CustomBuild.read.1.tlog
build/tests/test_simple_unified.dir/Debug/test_sim.3A006558.tlog/CustomBuild.write.1.tlog
build/tests/test_simple_unified.dir/Debug/test_sim.3A006558.tlog/link.command.1.tlog
build/tests/test_simple_unified.dir/Debug/test_sim.3A006558.tlog/link.read.1.tlog
build/tests/test_simple_unified.dir/Debug/test_sim.3A006558.tlog/link.secondary.1.tlog
build/tests/test_simple_unified.dir/Debug/test_sim.3A006558.tlog/link.write.1.tlog
build/tests/test_simple_unified.dir/Debug/test_sim.3A006558.tlog/test_simple_unified.lastbuildstate
build/tests/test_unified_api.dir/Debug/ch341_wrapper.obj
build/tests/test_unified_api.dir/Debug/ism330dhcx_reg.obj
build/tests/test_unified_api.dir/Debug/sfe_bus.obj
build/tests/test_unified_api.dir/Debug/sfe_ism_shim.obj
build/tests/test_unified_api.dir/Debug/sfe_ism330dhcx.obj
build/tests/test_unified_api.dir/Debug/test_unified_api.exe.recipe
build/tests/test_unified_api.dir/Debug/test_unified_api.ilk
build/tests/test_unified_api.dir/Debug/test_unified_api.obj
build/tests/test_unified_api.dir/Debug/vc143.pdb
build/tests/test_unified_api.dir/Debug/test_unified_api.tlog/CL.command.1.tlog
build/tests/test_unified_api.dir/Debug/test_unified_api.tlog/Cl.items.tlog
build/tests/test_unified_api.dir/Debug/test_unified_api.tlog/CL.read.1.tlog
build/tests/test_unified_api.dir/Debug/test_unified_api.tlog/CL.write.1.tlog
build/tests/test_unified_api.dir/Debug/test_unified_api.tlog/CustomBuild.command.1.tlog
build/tests/test_unified_api.dir/Debug/test_unified_api.tlog/CustomBuild.read.1.tlog
build/tests/test_unified_api.dir/Debug/test_unified_api.tlog/CustomBuild.write.1.tlog
build/tests/test_unified_api.dir/Debug/test_unified_api.tlog/link.command.1.tlog
build/tests/test_unified_api.dir/Debug/test_unified_api.tlog/link.read.1.tlog
build/tests/test_unified_api.dir/Debug/test_unified_api.tlog/link.secondary.1.tlog
build/tests/test_unified_api.dir/Debug/test_unified_api.tlog/link.write.1.tlog
build/tests/test_unified_api.dir/Debug/test_unified_api.tlog/test_unified_api.lastbuildstate
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.recipe
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
